#Cardapio {
    box-sizing: border-box;
    margin-top: 50px;
    max-width: 100%;
    text-align: center;
   
}

.details-card {
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: #FEA116;
    display:inline-block;
    position: relative;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 15px;
    
    

    
}

.details-card::before {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #FEA116;
    position: absolute;
    left: -60px;
    bottom: 15px;
    
}

.details-card::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #FEA116;
    position: absolute;
    right: -60px;
    bottom: 15px;
    
}

.Popular {
    font-family: 'Nunito';
    font-size: 50px;
    text-align: center;
    margin: 0px;
    right: -0px;

}

.intens-flex {
    display: flex;
    gap: 20px;
}

.menu-cardapio {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 1400px;
    gap: 20px;
    
}

.menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0.3125rem;
    box-shadow: -3px 3px 35px -17px rgba(150, 150, 150, 0.24);
}


#img-cardapio{
    display:block;
    max-width: 50px;
    padding: 0.625rem;
}


.text-card :nth-child(1) {
    font-size: 16px;
    font-style: normal;
    text-align: left;
    margin: 0px;
    color: #66657E;
}

.text-card :nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nunito';
    margin: 0px;

}

.comidas-food {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 100%;
   
}

.food-opcoes {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 60px; 

}

.menu-food {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24);
    padding: 0px 20px;
    flex: 1;
    margin: 20px;
    transition: .3s;
    position: relative;
}


.menu-food > img {
    max-width: 90px;
    height: 90px;
    border-radius: 3px;
    display: block;
    margin: 0px;
}

.menu-food ul :nth-child(1) {
    font-size: 22px;
    font-family: 'Nunito';
    font-weight: 800;
    text-align: left;
    margin: 0px;
    border-bottom: 1px solid #dee2e6;

}

.menu-food ul :nth-child(2) {
    color: #66657E;
    margin-top: 2px;
    font-family: 'Open Sans', sans-serif;
    
}

.menu-food > ul {
    padding:0 ;
    margin-left: 17px;
}


.valor {
    background-color: #FEA116;
    padding: 6px 13px 6px 13px;
    text-decoration: none;
    font-family: 'Nunito';
    display: inline-block;
    color: white;
    margin-top: 5px;
    font-weight: 600;
    border-radius: 5px;
    

}

@media (max-width:600px) {

    .food-opcoes {
        gap: 10px;
    }
    .Popular {
        font-size: 30px;
    }

    .menu-items {
        margin: 0;
        padding: 3px;
    }
    .menu-food {
        margin: 5px;
    }

    .menu-food ul :nth-child(1) {
        margin-bottom: 5px;
        font-size: 18px;
    }

    .menu-food ul :nth-child(2) {
        font-size: 14px;
    }
    .valor {
        padding: 4px 13px 4px 13px;
    }
       

}